<!DOCTYPE html>
<html>

<head>
    <title>RP Sample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @RenderSection("Style", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Heroku .Net 9 Razor Pages</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Customers/Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Download/Index">Download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Email/Index">Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Movies/Read" asp-route-id="1">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/HR/Read" asp-route-id="1">HR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Pragimtech/Index">Pragimtech</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle nav-link text-dark"
                                    data-bs-toggle="dropdown">Aspsnippets</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link text-dark"
                                        asp-page="/Aspsnippets/Customers/Index">Customers</a>
                                    <a class="dropdown-item nav-link text-dark" asp-page="/Aspsnippets/Index">How to get
                                        Client IP Address of Visitors Machine</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
                <vc:user id="new Random().Next(1, 10)"></vc:user>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("JavaScript", required: false)
</body>

</html>