<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetRazorPages</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotNetRazorPages.styles.css" asp-append-version="true" />
    @RenderSection("Style", required: false)
    @RenderSection("PreScripts", required: false)
</head>

<body>
    <header>
        <!-- ============= COMPONENT ============== -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Heroku .Net 9 Razor Pages</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">黑暗執行緒</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/Darkthread/Cors/Parent">前端單兵基本教練 - 使用 postMessage 與
                                        IFrame 跨網站網頁互動 </a>
                                </li>
                                <li><a class="dropdown-item" asp-page="/Darkthread/Vue3/Index">Vue3 Timer</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Customers/Index">Customers</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Download/Index">Download</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Movies/Read" asp-route-id="1">Movies</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/HR/Read" asp-route-id="1">HR</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Pragimtech/Index">Pragimtech</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Aspsnippets</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-page="/Aspsnippets/Customers/Index">Customers</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Aspsnippets/IPAddress/Index">IPAddress</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Email &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-page="/Aspsnippets/Email/Attachment/Index">Attachment</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="/Aspsnippets/Email/Html/Index">HTML Body</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Aspsnippets/QRCode/Index">QRCode</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Aspsnippets/WebCam/Index">WebCam</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> <!-- navbar-collapse.// -->
            </div> <!-- container-fluid.// -->
        </nav>

        <!-- ============= COMPONENT END// ============== -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RazorPagesMovie - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
