@page
@model DotNetRazorPages.Pages.Pragimtech.IndexModel
@{
  ViewData["Title"] = "Index";
  // Pass true using ViewData to tell the partial view
  // to display View, Edit and Delete buttons
  ViewData["ShowButtons"] = true;
}

<style>
  .btn {
    width: 75px;
  }
</style>

@* <vc:head-count department="Dept.IT"></vc:head-count> *@

<h1>Employees</h1>
<form method="get">
  <div class="input-group">
    <input class="form-control" asp-for="SearchTerm">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>
</form>
<div><a class="btn btn-primary m-1" asp-page="/Pragimtech/Edit">Add</a></div>
<div class="row">
  @foreach (var employee in Model.Employees)
  {
    // Render partial view passing it the model data and ViewData dictionary
    <partial name="_DisplayEmployeePartial" model="employee" view-data="ViewData" />
  }
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
          $('.card-body').each(function() {
            let $imageThumbnail = $(this).find('.imageThumbnail');
            let width =  $(this).width();
            if($imageThumbnail.width() > width) {
              $imageThumbnail.width(width)
            }
          });
        });
    </script>
}