@page
@using DotNetRazorPages.Models.Aspsnippets
@model DotNetRazorPages.Pages.Aspsnippets.Customers.IndexModel
@section Style {
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 10pt;
		}

		table {
			border: 1px solid #ccc;
			border-collapse: collapse;
		}

		table th {
			background-color: #F7F7F7;
			color: #333;
			font-weight: bold;
		}

		table th,
		table td {
			padding: 5px;
			border: 1px solid #ccc;
		}

		table,
		table table td {
			border: 0px solid #ccc;
		}
	</style>
}
<form method="post" enctype="multipart/form-data">
	<input type="file" name="postedFile" />
	<input type="submit" value="Import" asp-page-handler="Submit" />
</form>
	<hr />
@if (Model.Customers != null)
{
		<table cellpadding="0" cellspacing="0">
			<tr>
				<th>Customer Id</th>
				<th>Name</th>
				<th>Country</th>
			</tr>
			@foreach (Customer customer in Model.Customers)
			{
				<tr>
					<td>@customer.CustomerId</td>
					<td>@customer.Name</td>
					<td>@customer.Country</td>
				</tr>
			}
		</table>
}
