@page
@using DotNetRazorPages.Models.Aspsnippets
@model DotNetRazorPages.Pages.Aspsnippets.QRCode.IndexModel

<form method="post">
	<input type="text" name="qrcode" />
	<input type="submit" value="Generate" asp-page-handler="Generate" class="btn btn-primary"/>
</form>
<br />
@if (Model.IsQRCodeSvgGenerate)
{
	<object type="image/svg+xml" data="~/images/qrcode.svg"> </object>
}
