@page
@model DotNetRazorPages.Pages.Email.IndexModel

<form method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td style="width: 80px">To:</td>
      <td><input type="text" asp-for="Model!.To" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Subject:</td>
      <td><input type="text" asp-for="Model!.Subject" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">Body:</td>
      <td><textarea cols="20" rows="3" asp-for="Model!.Body"></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>MailerSend Email:</td>
      <td><input type="text" asp-for="Model!.Email" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>MailerSend Password:</td>
      <td><input type="password" asp-for="Model!.Password" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Send" asp-page-handler="SendEmail" /></td>
    </tr>
  </table>
</form>
@if (ViewData["Message"] != null)
{
  <script type="text/javascript">
    window.onload = function () {
      alert("@ViewData["Message"]");
    };
  </script>
}