@page
@model UpdateModel
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using DotNetRazorPages.Entity;
@using Models;
@using System.Text.RegularExpressions

@{
  ViewData["Title"] = "Update a Movie";
}

<h1 class="bg-info text-white">Update a Movie</h1>
<a asp-page="Read" asp-route-id="1" class="btn btn-secondary">View all Movies</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
  <div class="form-group">
    <label asp-for="Movie!.Id"></label>
    <input type="text" asp-for="Movie!.Id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="Movie!.Name"></label>
    <input type="text" asp-for="Movie!.Name" class="form-control" />
    <span asp-validation-for="Movie!.Name" class="text-danger"></span>
  </div>
  <button id="addRow" type="button" class="btn btn-info">Add</button>
  <div id="newRow">
    <input type="hidden" id="total" value="0" />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

@section Scripts
{
  <script>
    function addRow(actor) {
      let rowCount = parseInt($("#total").val());
      rowCount++;
      $("#total").val(rowCount);
      const $input = $(`<input type="text" name="[${rowCount - 1}].Name"></input>`);
      $input.val(actor.replace('&#x27;', '\''));
      const $div = $('<div id="inputRow" style="padding-bottom: 5px"></div>');
      $div.append($input);
      $div.append('<span>&nbsp;</span>');
      $div.append('<button id="removeRow" type="button" class="btn btn-danger">Remove</button>');

      $('#newRow').append($div);
      // $('input[name="[ +' (rowCount - 1) '+]Name"').val(actor);
    }
    $("#addRow").click(function () {
      addRow("");
    });
    $(document).on('click', '#removeRow', function () {
      var rowCount = parseInt($("#total").val());
      rowCount--;
      $("#total").val(rowCount);
      $(this).closest('#inputRow').remove();
    });

    $(document).ready(function () {
      let actors = "@Model.Movie!.Actors";
      if(!actors) {
        actors = '@TempData["actors"]';
      }
      actors = actors.split(",");

      for (const actor of actors) {
        addRow(actor);
      }
    }); 
  </script>
}

@functions {
  public class UpdateModel : PageModel
  {
    private readonly IRepository<Movie> _repository;
    public UpdateModel(IRepository<Movie> repository)
    {
      _repository = repository;
    }

    [BindProperty]
    public Movie? Movie { get; set; }

    public async Task<IActionResult> OnGetAsync(int id)
    {
      Movie = await _repository.ReadAsync(id);
      return Page();
    }

    public async Task<IActionResult> OnPostAsync()
    {
      if (ModelState.IsValid)
      {
        var values = Request.Form.Where(f =>
        {
          // Instantiate the regular expression object.
          Regex r = new Regex(@"\[\d+\].Name", RegexOptions.IgnoreCase);
          string actorName = f.Value.ToString().Trim();
          if (string.IsNullOrEmpty(actorName))
          {
            // for empty actor name
            return false;
          }
          return r.Match(f.Key).Success;
        }).ToDictionary().Values;

        Movie!.Actors = string.Join(";", values);
        await _repository.UpdateAsync(Movie ?? new Movie()
        {
          Name = ""
        });

        return RedirectToPage("Read", new { id = 1 });
      }
      else
      {
        var movie = await _repository.ReadAsync(Movie!.Id);
        TempData["actors"] = movie!.Actors;
        return Page();
      }
    }
  }
}